{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>This tutorial has been put together by Nicholas Sperry</h1>
	<img src="{% static "images/pikachu.jpg" %}" alt="Picture of Pikachu" /> 
	<img src="{{ MEDIA_URL}}cat.jpg" />
{% endblock %}

<!-- <!DOCTYPE html>

{% load staticfiles %}

<html>
	<head> 
		<title>Rango</title>
	</head>
		
	<body>
		<h1> This tutorial has been put together by Nicholas Sperry </h1>
		
		<div>
			<a href="/rango/">Index</a><br />
			<img src="{% static "images/pikachu.jpg" %}" alt="Picture of Pikachu" /> 
			<img src="{{ MEDIA_URL}}cat.jpg" /> 
		</div> 
	</body>
</html> -->